.search-result {
  position: absolute;
  background-color: aliceblue;
  width: 60%;
  left: 0px;
  margin-top: 104px;
  border-radius: 5px;
  margin-left: 18%;
  margin-right: 18%;
  padding: 0;
  z-index: 10;
  ul{
    padding: 0;
  }
}
.search-result__item {
  color: black;
  text-decoration: none;
  padding: 0;
  li{
    list-style: none;
    padding: 3px 10px 3px 10px;
    font-weight: bold;
  }:hover{
    background: cornflowerblue;
    cursor: pointer;
  }
}
// .search-result__item:hover{
  
// }